/* Bootstrap Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #2d3748;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e0;
}

::-webkit-scrollbar-thumb:hover {
    background: #718096;
}

@layer helpers {
    .titlecase::first-letter {
        text-transform: uppercase;
    }

    .text-lead {
        @apply text-base font-bold titlecase;
    }

    .text-alt {
        @apply text-sm font-normal opacity-60;
    }
}
